{% extends 'base.html' %}
{% block content %}

	          	<div class="card mb-4">
	                <div class="card-body">
	                	<form action="" method="post">
                            {% csrf_token %}
	                		<div class="form-group row">
			                    <label for="title" class="col-sm-1 col-form-label">글제목</label>
			                    <div class="col-sm-11">
			                      	<input type="text" class="form-control" id="title" name="title" required id = "id_title" value="{{ object.title }}">
			                    </div>
		                  	</div>
		                  	<div class="form-group row">
			                    <label for="author" class="col-sm-1 col-form-label">작성자</label>
			                    <div class="col-sm-3">
			                      	<input type="text" class="form-control" id="author" name="author" required id="id_author" readonly="" value="{{ object.author }}">
			                    </div>
		                  	</div>
		                  	<div class="form-group">
			                    <label for="content" class="col-form-label">내용</label>
			                    <textarea class="form-control" id="content" rows="5" name="content" required id="id_content">{{object.content}}</textarea>
		                  	</div>
                             <input type="submit" class="btn btn-primary pull-right" value="수정하기">
		                </form>
	                </div>
	            </div>

{% endblock %}